.cart_menu {
    width: 20rem;
    height: auto;
    min-height: 16rem;
    background-color: var(--White);
    position: absolute;
    z-index: 99;
    right: 3rem;
    border-radius: 1rem;
    box-shadow: 1px 11px 18px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    transform-origin: top center;
    opacity: 0;
    pointer-events: none;
}

.cart_menu.show {
    /* right: 3rem; */
    pointer-events: all;
    opacity: 1;
}

.cart_menu h4 {
    padding: 1rem 1.5rem 1.5rem 1rem;
    border-bottom: 2px solid var(--Light-grayish-blue);
}

@media (max-width: 768px) {
    .cart_menu {
        width: 95vw !important;
        right: 4px;
        top: 4.25rem;
    }
}

.cart_menu .items {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.cart_menu .item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    justify-items: end;
    align-items: center;

    img {
        border-radius: .75rem;
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    &>div {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    p {
        color: var(--Dark-grayish-blue);
    }

    .cart_prices {
        display: flex;
        gap: .5rem;
        color: var(--Very-dark-blue);

        .total {
            font-weight: 700;
        }
    }

    .trashCan {
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            opacity: .7;
        }
    }
}

.check {
    background-color: var(--Orange);
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;
    font-size: 1.06rem;
    font-weight: 500;
}