.header {
    background-color: var(--White);
    padding: 1.5rem 0;
    height: 4rem;
}

@media (min-width: 1024px) {
    .header {
        height: 5rem;
        
    }
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header nav > div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
@media (min-width: 1024px) {
    .header nav {
        padding: 1.25rem 3rem 3rem;
        border-bottom: 1px solid var(--Light-grayish-blue) ;
    }
    nav > div:first-of-type {
        gap: 2.25rem;
    }
}

.header .logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--Very-dark-blue);
}

.header .menu_icon {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .header .menu_icon {
        display: none;
    }
}

.header .shopping_cart {
    position: relative;
}

.header .shopping_cart .cart {
    font-size: 1.5rem;
}

.header .shopping_cart .items_amount {
    position: absolute;
    background-color: red;
    color: white;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -5px;
    right: -6px;
    font-size: .7rem;
}

@media (min-width: 768px) {
    .header .shopping_cart .cart {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    .header .shopping_cart .cart {
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            color: var(--Orange);
        }
    }
}

.header .profile {
    width: 2.5rem;
    height: 2.5rem;
} 


@media (min-width: 1024px) {
    .header .profile {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        border: 2px solid transparent;
        &:hover {
            border: 2px solid var(--Orange);
            border-radius: 50%;
        }
    }
}

.header .menu_mobile {
    position: absolute;
    top: 0;
    bottom:0 ;
    left: -100%;
    background-color: var(--White);
    width: 20rem;
    height: 100vh;
    padding: 2rem 1.5rem;
    z-index: 100;
}

@media (min-width: 768px) {
    .header .menu_mobile {
        display: none;
    }
}
.header .menu_mobile.open {
    left: 0;
    transition: left 0.3s ease-in-out;
}

.header .menu_mobile ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
    li {
        font-weight: 700;
        color: var(--Very-dark-blue);
    }
}

.header .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Black-lightbox-bg);
    z-index: 50;
    display: none
}

.header .overlay.open {
    display: block;
    transition: all 0.3s ease-in-out;
}

.header .menu_desktop {
    display: none;
}

@media (min-width: 768px) {
    .header .menu_desktop {
        display: block;
    }
}

.header .menu_desktop ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    li {
        color: var(--Dark-grayish-blue);
        cursor: pointer;
        position: relative;
        &:hover {
            color: var(--Black-lightbox-bg);
        }
    }
    li::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2.5rem;
        width: 100%;
        height: 2px;
        background-color: var(--Orange);
        transition: all 0.3s ease-in-out;
        opacity: 0;
    }
    li:hover::after {
        opacity: 1;
    }
}